<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <br><br>
    <center>
    <h1>Login Page</h1>
    <form>
        <span>Password: </span><input type="password" id="password">
        <button onclick="submit_password()" id="password_button">Submit</button>
    </form>
    </center>
    <script>
        document.querySelector("#password_button").addEventListener("click", function(event) {
          event.preventDefault();
        });
        function submit_password() {
            let password = document.querySelector("#password").value;
            fetch("/login/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    password: password
                })
            }).then(response => {
                document.location.reload();
            });
        }
    </script>
</body>
</html>